<!DOCTYPE html>
<html>
<head>
  <title>東京メトロ 日経新聞三国志広告の旅</title>
  <meta charset="utf-8">
</head>

<body>
<div id="content"></div>
<% if Rails.env.development? %>
    <script src="http://localhost:8080/assets/build/main.js"></script>
<% else %>
    <%= javascript_include_tag 'application' %>
<% end %>
</body>
</html>
